<!DOCTYPE html>
<html>
<head>
	<title>User Settings</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	<div id="menu" style="font-size: 2em;">
		<a href='/profile' style="color: black"><div class="menuIcons">Profile</div></a>
		<a href='/sign-out' style="color: black"><div class="menuIcons">Log Out</div></a>
	</div>

</body>
</html>